<h1><%= recipe.name %></h1>
<h2>Created by: <%= recipe.createdBy.username %></h2>


<div class="showPhoto"><img src="<%= recipe.image %>"></div>

<h3><%= recipe.description%></h3>
<h4>Ingredients</h4>
<ul>
  <li><%= recipe.ingredient1%></li>
  <li><%= recipe.ingredient2%></li>
  <li><%= recipe.ingredient3%></li>
</ul>

<h4>Method</h4>
<ul>
  <li><%= recipe.step1%></li>
  <li><%= recipe.step2%></li>
  <li><%= recipe.step3%></li>
</ul>

<a href="/recipes/<%= recipe.id %>/edit" class="btn btn-primary">Edit</a>

<form method="POST" action="/recipes/<%= recipe.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger">Delete</button>
</form>
